/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2020, 5:54:48 AM
    Author     : Amila
*/

img {
    vertical-align: middle;
    border-style: none;
    box-shadow: 0 0 14px 3px black;
    margin-left: 10px;
}